body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Bold', sans-serif;
}
p{
    color: #8f8f8f;
    font-size: 1rem;
}
.big-heading{
    /* color: black; */
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: bolder;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* sectionss */
.colored-section{
    background-color: #ff4c68;
    color: rgb(255, 255, 255);
}
.white-section{
    background-color: white;
}

/* title */
#title .container-fluid{
    padding: 3% 15% 7%;
}



.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}


/* Navigation bar */
.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family:'Montserrat-Light', sans-serif ;
    font-size:1.2rem ;
    /* color: ; */
}

/* Download buttons */
.download-button{
   margin: 5% 3% 5% 0;
}

/* title img */
.title-image{
    width: 60%;
    transform: rotate(30deg);
    position: absolute;
    /* z-index: -1; */
    right: 22%;
}



/* features Section */
#features{
    padding: 7% 15%;
    position: relative;
}
.feature-box{
    padding: 5%;
}
.feature-title{
    font-weight: bolder;
    font-size: 2rem;
}


/* testimonial Section */
#testimonials{
    background-color: #ef8172;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.carousel-item{
    padding: 7% 15%;
}


/* press section */
#press{
    background-color: #ef8172;
    padding: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing section */
#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
/* Call to Action Section */
#cta{
    padding:7% 15%;
}
#cta h3{
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    margin: 1%;
}


/* footer section */
#footer{
    padding: 7% 15%;
}
.social-icon{
    margin: 20px 10px;
}

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}